a, abbr, acronym, address, applet, b, big, blockquote, body, caption,
center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, 
form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, 
legend, li, object, ol, p, pre, q, s, samp, small, span, strike, 
strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, 
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body, button, input, select, textarea {
  font: 12px/1.5 arial,helvetica,clean,sans-serif;
}
button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
}
li, ol, ul {
  list-style: none;
}
a{
  text-decoration: none!important;
}
address, cite, code, dfn, em, i, var {
  font-style: normal;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}